body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}
input {
  padding: 8px;
  border-radius: 4px;
  outline: 0;
}

.btn {
  padding-block: 9px;
  padding-inline: 12px;
  border-radius: 4px;
  border: none;
  background-color: rgb(7, 153, 7);
  color: white;
  font-weight: 500;
}

.weather-container {
  padding: 16px;
  text-align: center;
  box-shadow: 1px 1px 5px rgb(61, 61, 61, 0.5);
  border-radius: 12px;
  min-height: 200px;
  max-width: 480px;
  margin: 16px auto;
}

.error {
  font-size: 24px;
  color: red;
  text-align: center;
}
